@{
    ViewBag.Title = Resources.Global.Dashboard;
}

<div class="col-lg-auto">
    <div style="background-color:#8dc4bc; padding:2rem 1rem;" class="jumbotron">
        <div class="col-lg-auto">
            <h2>@Resources.Global.Transactions</h2>
            <p>
                @Html.Partial("~/Views/Transaction/Index.cshtml")
            </p>
        </div>
    </div>
</div>
<div class="col-lg-auto">
    <div style="background-color:#8dc4bc; padding:2rem 1rem;" class="jumbotron">
        <div class="col-lg-auto">
            <h2>@Resources.Global.Budgets</h2>
            <p>
                @Html.Partial("~/Views/Budget/Index.cshtml")
            </p>
        </div>
    </div>
</div>
<div class="col-lg-auto">
    <div style="background-color:#8dc4bc; padding:2rem 1rem;" class="jumbotron">
        <div class="col-lg-auto">
            <h2>@Resources.Global.Analytics</h2>
            <p>
                @Html.Partial("~/Views/Analytics/Index.cshtml")
            </p>
        </div>
    </div>
</div>
