@{
    ViewBag.Title = Resources.Global.Budget;
}
@model FinanceManager.Models.BudgetModelList

<link rel="stylesheet1" type="text/css" href="~/Content/site.css">

@if (ViewBag.IsNotDashboard == null) //Below will be shown on the dashboard page
{
    <div class="jumbotron">
        <h1>@Resources.Global.Budgets</h1>
        <p class="lead">@Resources.Global.YouCanManageAddBudgetsHere</p>
    </div>
}
else //Below will be shown on the main budget page
{
    <span class="btn btn-primary" data-target="#MyModal" data-toggle="modal" style="width:150px">Add a Budget</span>
    <div style="display:flex">
        <div class="vertical-menu th">
            @foreach (var category in Model.Categories)
            {
                <a href="#">@category.Category</a>
            }
        </div>
        <div class="divRight" style="margin-left:50px; width:300px">
            <h2>@Resources.Global.BudgetStats:</h2>
            <div class="card bg-light">
                <div class="card-header">Description</div>
                <div class="card-body">
                    <label for="Budget">@Resources.Global.Amount:</label>
                    <input type="text" class="form-control" id="BudgetAmount" />
                    <label for="Frequency">@Resources.Global.Frequency:</label>
                    <select class="form-control">
                        <option>1</option>
                    </select>
                    <label for="AccountType">@Resources.Global.AccountType:</label>
                    <select class="form-control">
                        <option>1</option>
                    </select>
                    <span>Total:</span>
                    <span>*Amount left*</span>
                    <br />
                    <div style="margin-left:25px">
                        <label class="form-check-label">
                            <input title="" type="checkbox" class="form-check-input" name="Include Essentials" />@Resources.Global.Include @Resources.Global.Essentials
                            <br />
                            <input type="checkbox" class="form-check-input" name="Exclude Essentials" />@Resources.Global.Exclude @Resources.Global.Essentials
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    using (Html.BeginForm("AddBudget", "Budget", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("AddBudgetModal", new FinanceManager.Models.BudgetModel() { })
    }
}