@{
    ViewBag.Title = Resources.Global.Budget;
}
@model FinanceManager.Models.BudgetModelList
@if (ViewBag.IsNotDashboard == null) //Below will be shown on the dashboard page
{
    <div class="jumbotron">
        <h1>@Resources.Global.Budgets</h1>
        <p class="lead">@Resources.Global.YouCanManageAddBudgetsHere</p>
    </div>
}
else //Below will be shown on the main budget page
{
    <h2 class="text-center">@Resources.Global.BudgetStats:</h2>
    <span class="btn btn-primary" data-target="#MyModal" data-toggle="modal">@Resources.Global.AddaBudget</span>
    <br />
    <br />
    <div style="display:flex">
        <div class="vertical-menu th" style="width: 500px;">
            @foreach (var budget in Model.Budgets)
            {
                <a href="#" onclick="ViewBudget(@budget.ID)">@budget.Description</a>
            }
        </div>
        <div id="BudgetStats" class="divRight float-right" style="margin-left:20%; display:none; width:300px">
            <div class="card bg-light">
                <div class="card-body">
                    <label for="Description">@Resources.Global.Description:</label>
                    <input type="text" class="form-control" id="BudgetDescription" />
                    <br />
                    <label for="Budget">@Resources.Global.Amount:</label>
                    <input type="text" class="form-control" id="BudgetAmount" />
                    <br />
                    <label for="Frequency">@Resources.Global.Frequency:</label>
                    @Html.DropDownList("Frequencies", new SelectList(Model.Frequencies, "ID", "Frequency"), new { @class = "form-control", id = "FrequenciesDropDown" })
                    <br />
                    <label for="AccountType">@Resources.Global.AccountType:</label>
                    @Html.DropDownList("Account Types", new SelectList(Model.AccountTypes, "ID", "AccountType"), new { @class = "form-control", id = "AccountTypesDropDown" })
                    @*<br />
        <span>Total:</span>
        <span>*Amount left*</span>*@
                    <br />
                    <br />
                    <div class="text-center">
                        <label class="form-check-label">
                            @*<input id="IncludeEssentials" type="checkbox" class="form-check-input" name="Include Essentials" />@Resources.Global.Include @Resources.Global.Essentials
                            <br />
                            <input id="ExcludeEssentials" type="checkbox" class="form-check-input" name="Exclude Essentials" />@Resources.Global.Exclude @Resources.Global.Essentials
                            <br />*@
                            <span class="btn btn-primary" onclick="SaveBudget()">@Resources.Global.UpdateBudget</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function ViewBudget(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetBudgetByID", "Budget")',
                contentType: "application/json; charset=utf-8",
                data: { id: id },
                dataType: "json",
                success: function (data) { UpdateBudgetView(data); },
                error: function () { alert("Error Getting Budget: " + id); }
            });
        }

        function SaveBudget() {
            alert("Save button pressed");
        }

        function UpdateBudgetView(data) {
            if ($("#BudgetStats").css('display') == 'none')
            {
                $("#BudgetStats").css('display','initial');
            }

            $("#BudgetDescription").val(data.Description);
            $("#BudgetAmount").val(data.Amount);
            $("#FrequenciesDropDown").val(data.Frequency_ID);
            $("#AccountTypesDropDown").val(data.Account_ID);
        }

    </script>
    using (Html.BeginForm("AddBudget", "Budget", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("AddBudgetModal")
    }
}