<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MiTiM Financial</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#9DD5CC; padding-top:0px;">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            <nav class="navbar navbar-expand navbar-light navbar-fixed-top" style="background-color:#b5fbf0; border-radius: 10px;border: 10px outset #D4461E">
                <div class="container">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img style="width:100px; height:100px;" src="@Url.Content("~/Content/Images/SPOILER_logo_transparent.png")" />
                        <strong>MiTiM Financial</strong>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarsExample02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <span class="nav-link">@Html.ActionLink(Resources.Global.Transactions, "Index", "Transaction", routeValues: null, htmlAttributes: new { @style = "color:black" })</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">@Html.ActionLink(Resources.Global.Budgets, "Index", "Budget", routeValues: null, htmlAttributes: new { @style = "color:black" })</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link" style="color:#D4461E;">@Html.ActionLink(Resources.Global.Analytics, "Index", "Analytics", routeValues: null, htmlAttributes: new { @style = "color:black" })</span>
                            </li>
                            <li class="nav-item dropdown">
                                <a style="color:black" class="nav-link dropdown-toggle" href="#" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Resources.Global.AccountType</a>
                                <div @*style="background-color:#9DD5CC"*@ class="dropdown-menu" aria-labelledby="accountDropdown">
                                    <a class="dropdown-item" href="#" data-target="#AccountTypeModal" data-toggle="modal">@Resources.Global.Add @Resources.Global.AccountType</a>
                                    <a class="dropdown-item" href="#" data-target="#DeleteAccountTypeModal" onclick="LoadAccountTypes()" data-toggle="modal">@Resources.Global.Delete @Resources.Global.AccountType</a>
                                </div>
                            </li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </nav>
        }
    }

    @Html.Partial("AddAccountTypeModal")
    @Html.Partial("DeleteAccountTypeModal")

    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer style="text-align:center">
            <img style="width:50px;height:50px;" src="@Url.Content("~/Content/Images/SPOILER_logo_transparent.png")" />
            <strong>MiTiM Financial</strong>
            <div>&copy; @Resources.Global.Copyright 2019 - @DateTime.Now.Year</div>
            <div style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #D4461E; color: white; text-align: center;"></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


