@model FinanceManager.Models.TransactionModelList

<!--TODO: Form validation -->
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div id="MyModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resources.Global.AddATransaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align:center">
                    <div class="container-fluid ml-auto">
                        <div class="mb-3">
                            <label title="Category this Transaction belongs under">@Resources.Global.Category:</label>
                            @Html.DropDownListFor(m => m.AddNewTransactionModel.Category, new SelectList(Model.Categories, "Value", "Text"))
                            <div class="invalid-feedback">
                                @Resources.Global.Category @Resources.Global.IsRequired.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label title="Transaction Details">@Resources.Global.Description:</label>
                            @Html.TextBoxFor(m => m.AddNewTransactionModel.Description)
                            <div class="invalid-feedback">
                                @Resources.Global.Description @Resources.Global.IsRequired.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label title="Money spent on Transaction">@Resources.Global.Amount:</label>
                            @Html.TextBoxFor(m => m.AddNewTransactionModel.Amount, new { @type = "number", step = "0.01" })
                            <div class="invalid-feedback">
                                @Resources.Global.Amount @Resources.Global.IsRequired.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label title="Type of Account this Transaction belongs to">@Resources.Global.AccountType:</label>
                            @Html.DropDownListFor(m => m.AddNewTransactionModel.AccountType, new SelectList(Model.AvailableAccountTypes, "Value", "Text"), new { @style = "min-width:100%;" })

                        </div>

                        <div class="mb-3">
                            <label title="Date of Transaction">@Resources.Global.Date:</label>
                            <!--TODO: Set to today by default-->
                            @Html.TextBoxFor(m => m.AddNewTransactionModel.TransactionDate, new { @type = "date" })
                        </div>

                        <div class="mb-3">
                            <label title="(Example: Food, Gas, Water, Electricity)">@Resources.Global.Essentials @Resources.Global.Transactions:</label>
                            @Html.TextBoxFor(m => m.AddNewTransactionModel.IsEssential, new { @type = "checkbox" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@Resources.Global.Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.Close</button>
            </div>
        </div>
    </div>
</div>