@model FinanceManager.Models.TransactionModelList

<!--TODO: From validation -->
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div id="MyModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid ml-auto">
                    <div class="mb-3">
                        <label>Category</label>
                        @Html.DropDownListFor(m => m.AddNewTransactionModel.Category, new SelectList(Model.Categories, "Value", "Text"))
                        <div class="invalid-feedback">
                            Category is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label title="Transaction Details">Description</label>
                        @Html.TextBoxFor(m => m.AddNewTransactionModel.Description)
                        <div class="invalid-feedback">
                            Description is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label title="Money spent on Transaction">Amount</label>
                        @Html.TextBoxFor(m => m.AddNewTransactionModel.Amount, new { @type = "number", step = "0.01" })
                        <div class="invalid-feedback">
                            Please enter an amount.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Account Type</label>
                        @Html.DropDownListFor(m => m.AddNewTransactionModel.AccountType, new SelectList(Model.AvailableAccountTypes, "Value", "Text"))

                    </div>

                    <div class="mb-3">
                        <label title="Date of Transaction">Date</label>
                        <!--TODO: Set to today by default-->
                        @Html.TextBoxFor(m => m.AddNewTransactionModel.TransactionDate, new { @type = "date" })
                    </div>

                    <div class="mb-3">
                        <label title="(Example: Food, Gas, Water, Electricity)">Essential Transaction</label>
                        @Html.TextBoxFor(m => m.AddNewTransactionModel.IsEssential, new { @type = "checkbox" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">ADD</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>