@{
    ViewBag.Title = "Transactions";
}
@model FinanceManager.Models.TransactionModelList

@if (ViewBag.IsNotDashboard == null) //Below will be shown on the dashboard page
{
    <div class="jumbotron">
        <h1>Transactions</h1>
        <p class="lead">You can manage/add transactions here.</p>
        <span class="btn btn-primary" data-target="#MyModal" data-toggle="modal">Add a Transaction</span>
    </div>
}
else //Below will be shown on the main transactions page
{
    <nav class="navbar navbar-expand-lg navbar-light">
        <span class="btn btn-primary" data-target="#MyModal" data-toggle="modal">Add a Transaction</span>
    </nav>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="text-align:center">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col" style="text-align:center">Essential</th>
                    <th scope="col" style="text-align:center">Date of Transaction</th>
                    <th scope="col" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TransactionModels == null)
                {
                    <tr>
                        <th scope="colgroup">No transactions were found.</th>
                    </tr>
                }
                else
                {
                    foreach (var transaction in Model.TransactionModels)
                    {
                    <tr>
                        <th scope="row">$@transaction.Amount</th>
                        <td>@transaction.Description</td>
                        <td>@transaction.Category</td>
                        <td align="center">@transaction.IsEssential</td>
                        <td>@transaction.TransactionDate</td>
                        <td align="center"><span class="btn btn-danger btn-sm" onclick="alert('Not implemented yet ¯\_(ツ)_/¯')" >Delete</span></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

@using (Html.BeginForm("AddTransaction", "Transaction", FormMethod.Post, new { @class = "form" }))
{
    @Html.Partial("AddTransactionModal")
}
